<div class="header">
  <img src="https://png.pngtree.com/png-clipart/20230814/original/pngtree-a-girl-eating-a-cake-eating-woman-isolated-vector-picture-image_10620183.png" alt="Logo">
  <h1>POSTRES ALEGRÍA</h1>
</div>


<div class="spacer"></div> 
<a href="/inicio" class="boton-devolverse">Atrás</a>
<a href="/form" class="boton-devolverse">Sube tu propia receta</a>


<div class="container">
    <div class="form-container">
        <h2>Contáctanos</h2>
        <form>
            <label for="name">Nombre de la receta:</label>
            <input type="text" id="name" required>

            <label for="email">Ingredientes:</label>
            <input type="email" id="email" required>

            <label for="subject">Preparación:</label>
            <input type="text" id="subject" required>

            <label for="message">¿Cómo es el montaje del postre?:</label>
            <textarea id="message" required></textarea>

             <label for="message">Describe como se sirve el postre:</label>
            <textarea id="message" required></textarea>

            <div class="form-group">
            <label for="foto_receta">Sube una foto:</label>
            <input type="file" name="foto_receta" id="foto_receta" accept="image/*" required>
            </div>
<div class="spacer"></div> 

            <button type="submit">GUARDAR</button>
        </form>
    </div>
</div>


<div class="footer">
  <div class="datos">
    <p>Derechos reservados a Juan Esteban A.C</p>
</div>





