<div class="header">
  <img src="https://png.pngtree.com/png-clipart/20230814/original/pngtree-a-girl-eating-a-cake-eating-woman-isolated-vector-picture-image_10620183.png" alt="Logo">
  <h1>POSTRES ALEGRÍA</h1>
</div>

 <div class="spacer"></div> 
<a href="/inicio" class="boton-devolverse">Atrás</a>
<a href="/form" class="boton-devolverse">Sube tu propia receta</a>

<div class="container">
        <h1>Historia de los Postres</h1>
        <p>Los postres, una deliciosa parte de la gastronomía, tienen una rica historia que se remonta a las antiguas civilizaciones.</p>
        <p><strong>1. Antigüedad:</strong> Los orígenes de los postres se encuentran en la antigua Mesopotamia y Egipto, donde se preparaban dulces a base de frutas y miel.</p>
        <img src="https://pos3dsite.files.wordpress.com/2017/10/historia-de-los-postres.jpeg" alt="Antigua Receta de Postre">
        <p><strong>2. Grecia y Roma:</strong> En la antigua Grecia y Roma, los postres se elaboraban con ingredientes como la harina, los huevos y las especias. Los banquetes romanos solían ofrecer una amplia variedad de postres.</p>
        <img src="https://marcelapuentes14.files.wordpress.com/2013/01/la-historia-de-los-postres.jpg" alt="Banquete Romano con Postres">
        <p><strong>3. Edad Media:</strong> Durante la Edad Media en Europa, el azúcar se convirtió en un ingrediente clave en la preparación de postres, lo que llevó a una mayor diversidad y sofisticación en las recetas.</p>
        <img src="https://lindarodriguezz.files.wordpress.com/2015/09/postres.jpg?w=700" alt="Cocina Medieval con Postres">
        <p>Desde entonces, los postres han seguido evolucionando, incorporando ingredientes y técnicas de cocina de diversas culturas en todo el mundo, y continúan siendo una parte importante de la experiencia culinaria.</p>
    </div>



<div class="footer">
  <div class="datos">
    <p>Derechos reservados a Juan Esteban A.C</p>
  </div>
</div>
