<div class="header">
  <img src="https://png.pngtree.com/png-clipart/20230814/original/pngtree-a-girl-eating-a-cake-eating-woman-isolated-vector-picture-image_10620183.png" alt="Logo">
  <h1>POSTRES ALEGRÍA</h1>
</div>

 <div class="spacer"></div> 
<a href="/inicio" class="boton-devolverse">Atrás</a>
<a href="/form" class="boton-devolverse">Sube tu propia receta</a>



<div class="container">
  <h1>Postre de Gelatina Tipo Mosaico</h1>
  <img src="https://i.ytimg.com/vi/o_WA5cvDwuk/maxresdefault.jpg" alt="Postre de Gelatina Tipo Mosaico" style="width: 100%; height: auto;">
  <h2>Ingredientes:</h2>
  <ul>
    <li>4 paquetes (aprox. 85 gramos cada uno) de gelatina de diferentes sabores (fresa, limón, naranja, uva, etc.)</li>
    <li>Agua</li>
    <li>Leche condensada (opcional)</li>
    <li>Frutas en trozos pequeños (opcional, para decorar)</li>
  </ul>
  <h2>Preparación:</h2>
  <ol>
    <li><strong>Preparación de la gelatina:</strong>
      <ul>
        <li>Prepara cada paquete de gelatina siguiendo las instrucciones del paquete, pero utiliza la mitad de la cantidad de agua recomendada para cada uno.</li>
        <li>Vierte cada sabor de gelatina en moldes poco profundos separados y refrigéralos hasta que estén completamente cuajados.</li>
      </ul>
    </li>
    <li><strong>Corte de la gelatina:</strong>
      <ul>
        <li>Una vez que la gelatina esté firme, córtala en cubos del mismo tamaño. Puedes cortarla en cubos pequeños o en cubos más grandes, según tu preferencia.</li>
      </ul>
    </li>
    <li><strong>Montaje del postre:</strong>
      <ul>
        <li>En un molde para pastel o en un recipiente grande, coloca los cubos de gelatina de diferentes colores de manera intercalada para crear un patrón de mosaico.</li>
        <li>Si deseas agregar frutas, también puedes intercalar capas de frutas entre los cubos de gelatina.</li>
      </ul>
    </li>
    <li><strong>Refrigeración:</strong>
      <ul>
        <li>Refrigera el postre durante al menos 2 horas, o hasta que esté completamente firme.</li>
      </ul>
    </li>
    <li><strong>Servir:</strong>
      <ul>
        <li>Una vez que el postre esté completamente firme, desmóldalo si es necesario y sírvelo frío.</li>
        <li>Si deseas, puedes agregar un poco de leche condensada sobre el postre justo antes de servir para darle un toque dulce adicional.</li>
      </ul>
    </li>
  </ol>
</div>



<div class="footer">
  <div class="datos">
    <p>Derechos reservados a Juan Esteban A.C</p>
  </div>
</div>
